<!DOCTYPE html>
<html>
<body>
  <br>
  <header>
    <h1>Home Page</h1>
  </header>
<br><br>
  <section >
    <h2>About Me</h2>
    <p>
    Hi, I'm Roni Shayev, a performance-driven and results-oriented Full Stack Developer.<br><br>
    I completed the Full Stack course at Technion Institution, where I gained expertise in HTML, CSS, JavaScript, Angular, React, Node.js, and C#.<br><br>
    I am skilled in working with NoSQL databases , MongoDB, JSON, Firebase Google, and GraphQL.<br><br>
    I am passionate about solving complex problems and working collaboratively to meet project goals.<br><br>
    </p>
  </section>

  <section >
    <h2>Skills</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Angular</li>
      <li>React</li>
      <li>Node.js</li>
      <li>C#</li>
      <li>NoSQL databases , MongoDB, JSON, Firebase Google, GraphQL</li>
    </ul>
  </section>

  <section >
    <h2>Education</h2>
    <p>
      Website Development Project, 2022<br>
      Movie Subscription Website Development Project, 2023
    </p>
  </section>

  <section >
    <h2>Experience</h2>
    <p>
      Foreman at RS Manofaim Ltd. , 2015 - 2022<br>
      Head of the emergency storehouses team, Israel Defense Forces, 2017 - 2020
    </p>
  </section>
  <section >
    <h2>Language</h2>
    <ul>
      <li>Hebrew - Native.</li> 
      <li> English - Fluent.</li> 
    </ul>
  </section>
  <section>
  <h2>Contact Me</h2>
  <p>
    Phone: +972-544329042<br> <br>
    Email: shayevroni@gmail.com<br><br>
    LinkedIn: <a href="https://www.linkedin.com/in/roni-shayev-678813275">linkedin.com/in/roni-shayev</a><br><br>
    GitHub: <a href="https://github.com/RoniShayev">github.com/RoniShayev</a><br><br>
    Location: Petah Tikva, Israel<br>
  </p>
</section>
<br>

</body>
</html>
