
<head>
 
  <title>Roni Shayev - Full Stack Developer</title>
    
  </head>
  <body>
    <header>
      <h1 style="text-align: left;">Roni Shayev</h1>
      <h4>Full Stack Developer</h4>
    </header>

    <div style="padding-left: 30%;" class="example-button-row">
<button  ><a  routerLink="/homepage">Home Page</a> </button>&nbsp;  &nbsp;
<button ><a routerLink="/formaleducation">Formal Education</a></button> &nbsp;  &nbsp;
<button ><a routerLink="/experince">Experience</a></button> &nbsp;  &nbsp;
<button ><a routerLink="/contact">Contact Me</a> </button> &nbsp;  &nbsp;

</div>
<router-outlet></router-outlet>

<footer>
    <p>&copy; 2023 Roni Shayev. All rights reserved.</p>
  </footer>


  
