<!DOCTYPE html>
<html>

<body>
  <br>
  <h1>Experience</h1>
  <br><br>
  
  <h2>Foreman at RS Manofaim Ltd. (2015 - 2022)</h2>
  <ul>
    <li>Managed, supervised, and coordinated a team of 20-30 workers, ensuring that projects were completed within budget and in a timely manner.</li>
    <li>Responsible for work arrangement, absorption, and training of staff, fostering a productive and cohesive work environment.</li>
    <li>Demonstrated strong interpersonal skills in interactions with employees and internal/external customers, promoting effective communication and collaboration.</li>
    <li>Actively participated in meetings with executives, providing progress reports and updates on project status.</li>
  </ul>
  <br><br>
  <h2>Military Service - Israel Defense Forces (2017-2020)</h2>
  <ul>
    <li>Held a leadership position within the Israel Defense Forces, overseeing the emergency storehouses team.</li>
    <li>Successfully managed inventory and logistics operations, ensuring timely availability of essential supplies.</li>
    <li>Demonstrated strong organizational skills and attention to detail, maintaining accurate records and efficient inventory management.</li>
    <li>Collaborated effectively with team members, promoting teamwork and achieving mission objectives.</li>
  </ul>
  <br><br>
</body>
</html>
