<!DOCTYPE html>
<html>

<body>
  <br>
  <h1>Formal Education</h1>
  <br><br>
  <h2>Website Development Project, 2022</h2>
  <ul>
    <li>Developed a web application for efficiently managing shifts.</li>
    <li>Proficient in front-end interface development using JavaScript, HTML, CSS, and Bootstrap.</li>
    <li>Skilled in writing server-side functionalities with the .NET framework, including C# programming.</li>
    <li>Created REST APIs to interact with front-end databases.</li>
  </ul>
  <br><br>
  <h2>Movie Subscription Website Development Project, 2023</h2>
  <ul>
    <li>Developed a Movie Subscription Website utilizing React for the front-end interface, creating a seamless and interactive user experience.</li>
    <li>Implemented Node.js with RestAPI to handle server-side functionalities, ensuring efficient data processing and retrieval.</li>
     <li>Designed and implemented a MongoDB database to store movie-related information, enabling fast and scalable data storage.</li>
  </ul>
  <br><br>
</body>
</html>
